*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align:baseline;
    list-style:none;
    border: 0;
}

html, body{
    width: 100%;
    height: 100vh;
    font-family: helvetica, sans-serif, arial;
    background-color: aquamarine;
    background-image: url(/src/assets/images/back.jpg);
    background-attachment: fixed;
    background-repeat: repeat-x;
}

header, footer{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 70%;
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#content{
    width: 50%;
    height: 100%;
    border: 1px black solid;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input, button{
    width: 85%;
    height: 30px;
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
}